<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-max-tablet">
      <div class="box">
        <section class="section">
          <h1 class="title has-text-centered">Update your blog details</h1>
          
          <%= render "form" %>
        </section>
      </div>
    </div>
  </div>
</section>
