<footer class="footer">
  <div class="container has-text-centered">

    Powered by <a href="https://textsavy.org">TextSavy</a> - a creation of <a href="https://notallonesandzeros.com">Not All Ones and Zeros</a>

  </div>
</footer>